<div class="body">
    <div class="title-distance">
        <p class="arrived-detail">Estimated Distance to arrived</p>
        <p class="distance">235KM</p>
    </div>
    <div class="card">
        <div class="map">
            <div class='agm-map-container-inner sebm-google-map-container-inner'></div>
            <div class='agm-map-content'>
                <ng-content></ng-content>
            </div>
        </div>
        <div class="driver-info">
            <div class="row">
                <div id="imgUser" class="col-xs-3">
                    <img src="./../../../assets/user.png" alt="">
                </div>
                <div class="col-xs-9">
                    <p class="type">DRIVER</p>
                    <p class="name">Martijn DragonjerF</p>
                </div>
            </div>
        </div>
        <div class="detail">
            <p class="title-d">Route between</p>
            <p class="destinations">Bogota - Barranquilla</p>
        </div>
        <button class="options">
            View more details
        </button>
    </div>
</div>