<div class="col zero">
    <div class="row">
        <div class="col"></div>
        <div class="col d-content">
            <button mat-icon-button matTooltip="Cerrar" class="bc-transparent" matTooltipPosition="above" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h3 mat-dialog-title class="text-center">{{ customFieldData.id ? 'Editar' : 'Crear' }} Campo Personalizado</h3>
        </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <form [formGroup]="customFieldForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
        <div mat-dialog-content class="conatiner-fluid">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'GENERAL_WORD.NAME' | translate }}</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error *ngIf="f.name.hasError('required')">
                            {{ 'MODAL.CUSTOM_FIELD.ERROR.NAME' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'GENERAL_WORD.TYPE' | translate }}</mat-label>
                        <mat-select formControlName="datatype" appearance="outline"
                            (selectionChange)="onOptionsSelectedType($event)" class="w-100" #datatypeSelect>
                            <mat-option value="">{{ 'MODAL.CUSTOM_FIELD.SELECT.TYPE' | translate }}</mat-option>
                            <ng-container *ngFor="let type of types">
                                <mat-option value="{{ type }}">{{ type | translate }}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="f.datatype.hasError('required')">
                            {{ 'MODAL.CUSTOM_FIELD.ERROR.TYPE' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>{{ 'GENERAL_WORD.MODULE' | translate }}</mat-label>
                        <mat-select formControlName="module" appearance="outline" class="full-width"
                            (selectionChange)="onOptionsSelected($event)">
                            <mat-option value="">{{ 'MODAL.CUSTOM_FIELD.SELECT.MODULE' | translate }}</mat-option>
                            <ng-container *ngFor="let mod of modules">
                                <mat-option value="{{ mod }}">{{ mod | translate }}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="f.module.hasError('required')">
                            {{ 'MODAL.CUSTOM_FIELD.ERROR.MODULE' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row"
                *ngIf="f.datatype.value == 'CUSTOM_FIELD.TYPE.LIST'">
                <div class="col">
                    <div class="row mb-2">
                        <button type="button" mat-stroked-button class="clickable inherit-w" (click)="addOption()">
                            {{ 'GENERAL_WORD.ADD' | translate }} {{ 'GENERAL_WORD.OPTION' | translate }}
                        </button>
                    </div>
                    <div class="row" formArrayName="options">
                        <ng-container *ngFor="let record of getOptions.controls; let i = index" [formGroupName]="i">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{ 'GENERAL_WORD.OPTION' | translate }}</mat-label>
                                    <input matInput formControlName="value" />
                                    <mat-error *ngIf="getOptions.controls[i].get('value').hasError('required')">
                                        {{ 'MODAL.CUSTOM_FIELD.ERROR.OPTION' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pt-3"
                                *ngIf="getOptions.controls.length > 1">
                                <a class="deleteRow black cursor"  (click)="removeOption(i)">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isVisible">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>{{ 'GENERAL_WORD.STAGE' | translate }}</mat-label>
                        <mat-select formControlName="stage" appearance="outline" class="full-width">
                            <mat-option value="">{{ 'MODAL.CUSTOM_FIELD.SELECT.STAGE' | translate }}</mat-option>
                            <ng-container *ngFor="let stage of stages">
                                <mat-option [value]="stage.name">{{ stage.name }} - {{ stage.yard.name }}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="f.stage.hasError('required')">
                            {{ 'MODAL.CUSTOM_FIELD.ERROR.STAGE' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <mat-divider class="mt-3 mb-3"></mat-divider>

        <div class="row mt-3">
            <div class="col">
                <div class="py-1">
                    <button mat-flat-button type="button" class="btn-cancelar btn-block p-1" (click)="onClose()">
                        <mat-icon color="white">close</mat-icon> {{ 'GENERAL_WORD.CANCEL' | translate }}
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="py-1">
                    <button type="submit" [disabled]="submit" mat-flat-button class="btn-submit btn-block p-1">
                        <mat-icon color="white">done</mat-icon> {{ customFieldData.id ? 'Editar' : 'Crear' }}
                        <img src="../../../../../../assets/loading.gif" class="ml-1" *ngIf="submit" alt="Cargando" />
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>