<div class="col zero">
    <div class="row zero between-lg between-md between-sm between-xs">
        <div class="col-md-8">
            <h3 mat-dialog-title>
                Archivos cargados del reporte
            </h3>
        </div>
        <div class="col-md-4 text-right">
            <button mat-icon-button class="bc-transparent" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider style="margin-top: 10px; margin-bottom: 20px;"></mat-divider>
    <div class="max-h-80vh">
        <div class="row zero between-lg between-md between-sm between-xs mb-1" *ngFor="let file of filesData">
            <button mat-flat-button class="bg-wo-gradient full-width b-h" (click)="preview(file)">
                <mat-icon color="white">insert_drive_file</mat-icon>
                <mat-divider vertical class="v-divider"></mat-divider>
                <span>Visualizar archivo</span>
            </button>
        </div>
        <div class="row" *ngIf="filesData.length === 0">
            <div class="col-md-12 text-center">
                <p class="p-tb-20 text-muted h5">
                    {{ 'GENERAL_WORD.EMPTY' | translate }}
                </p>
            </div>
        </div>
    </div>

    <mat-divider style="margin-top: 10px; margin-bottom: 20px;"></mat-divider>
    <div class="row zero between-lg between-md between-sm between-xs full-width mb-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div mat-dialog-actions>
                <div class="row zero between-lg between-md between-sm between-xs full-width">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button
                            mat-flat-button
                            type="button"
                            class="btn-cancelar full-width"
                            style="width: 100%;"
                            (click)="onClose()"
                        >
                            <mat-icon color="white">close</mat-icon> Cerrar
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
