<div class="col zero">
    <div class="row">
        <div class="col"></div>
        <div class="col d-content">
            <button mat-icon-button class="bc-transparent" matTooltip="Descargar Archivo de Muestra"
                matTooltipPosition="above" (click)="onDownload()">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button class="bc-transparent" matTooltip="Cerrar" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h3 mat-dialog-title class="text-center">Cargue masivo de tarifas</h3>
        </div>
    </div>

    <mat-divider class="mb-3"></mat-divider>

    <div mat-dialog-content class="conatiner-fluid">
        <form [formGroup]="uploadForm" (ngSubmit)="onUpload()" novalidate>
            <div class="row between-lg between-md between-sm between-xs full-width">
                <div class="col mt-1">
                    <button type="button" mat-flat-button class="bg-wo-gradient full-width b-h"
                        (click)="massiveFile.click()">
                        <mat-icon color="white">insert_drive_file</mat-icon>
                        <mat-divider vertical class="v-divider"></mat-divider> Cargar archivo *
                    </button>
                    <input hidden type="file" (change)="onFileSelected($event)" #massiveFile id="massiveFile"
                        formControlName="massiveFile"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                </div>
                <div class="col mt-2">
                    <button type="submit" mat-flat-button class="btn-submit full-width p-1" [disabled]="isDisabled">
                        Cargar
                    </button>
                </div>
                <div class="row mt-2 container-fluid">
                    <mat-error *ngIf="massiveFileHasLoaded" class="success">
                        <p>Se ha cargado {{ massiveFileName | slice:0:20 }}{{ (massiveFileName.length > 20 ) ? '...' : '' }} correctamente</p>
                    </mat-error>
                    <mat-error *ngIf="massiveFileHasLoaded === false" class="danger">
                        <p>Ha ocurrido un problema al subir el archivo {{ massiveFileName | slice:0:20 }}{{ (massiveFileName.length > 20 ) ? '...' : '' }}</p>
                    </mat-error>
                </div>
            </div>
        </form>
    </div>
</div>