<mat-expansion-panel class="box-sh-none" (opened)="getStages()">
    <mat-expansion-panel-header>
        <mat-panel-title class="col-lg-4 col-md-4 col-sm-4 col-xs-4 fgc-gray-1">
            {{ factory.name | titlecase }}
        </mat-panel-title>
        <mat-panel-title class="col-lg-4 col-md-4 col-sm-4 col-xs-4 fgc-gray-1">
            &nbsp;&nbsp;&nbsp;{{ factory.vehicleLimit }}
        </mat-panel-title>
        <mat-panel-title class="col-lg-4 col-md-4 col-sm-4 col-xs-4 fgc-gray-1">
            <p style="text-align: left;">{{ convertTimeElapsed(factory.timeEstimated) }}</p>
        </mat-panel-title>
    </mat-expansion-panel-header>


    <div class="container-fluid sub-container table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="d-flex theaderWidth">
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex theaderWidth">
                            <h5 class="headerSize">Etapas</h5>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex theaderWidth">
                            <h5 class="headerSize">{{ 'GENERAL_WORD.COLOR' | translate }}</h5>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="d-flex theaderWidth">
                            <h5 class="headerSize">Acciones</h5>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="bodyColor" cdkDropList (cdkDropListDropped)="drop($event)">
                <tr class="background-white" *ngFor="let stage of stages; let i = index" cdkDrag>
                    <td>
                        <mat-icon cdkDragHandle style="cursor: move;">reorder</mat-icon>
                    </td>
                    <td>
                        <h4 class="stackable fgc-gray-1 float-left">
                            <b>{{ i + 1 }}.</b>&nbsp; &nbsp;
                            {{ stage.name | titlecase }}
                        </h4>
                    </td>
                    <td>
                        <input type="color" class="float-left" value="#{{ stage.color }}" disabled />
                    </td>
                    <td>
                        <h5 class="widthActions">
                            <mat-icon class="icon edit m-1 float-rigth" (click)="editStage(stage, factory.id)"
                                matTooltipPosition="above" matTooltip="Editar etapa">edit</mat-icon>
                            <mat-icon class="icon delete m-1 float-rigth" (click)="removeStage(stage)"
                                matTooltipPosition="above" matTooltip="Eliminar etapa">delete</mat-icon>
                        </h5>
                    </td>
                    <mat-divider></mat-divider>
                </tr>
                <tr *ngIf="stages.length === 0" class="text-center mt-3">
                    <td colspan="4">
                        <span class="p-tb-20 text-muted h5 font-weight-bold">
                            {{ 'GENERAL_WORD.EMPTY' | translate }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row py-3">
            <div class="col">
                <button mat-raised-button color="warn" class="mt-3 mb-2 text-white btn-block"
                    matTooltip="Eliminar planta" matTooltipPosition="above" (click)="removeFactory(factory)">
                    <mat-icon class="icon text-white  m-1" matTooltipPosition="above">delete</mat-icon>
                    Eliminar
                </button>
            </div>
            <div class="col">
                <button mat-raised-button color="primary" class="mt-3 mb-2 text-white btn-block"
                    matTooltip="Eliminar planta" matTooltipPosition="above" (click)="editFactory(factory)">
                    <mat-icon class="icon edit m-1" matTooltipPosition="above">edit</mat-icon>
                    Editar
                </button>
            </div>
            <div class="col">
                <button mat-flat-button class="mt-3 mb-2 text-white btn-submit btn-block" (click)="addStage()"
                    matTooltip="Agregar etapa">
                    <mat-icon color="white">add</mat-icon> Agregar etapa
                </button>
            </div>
        </div>
    </div>
</mat-expansion-panel>
<mat-divider class="separation"></mat-divider>