@import 'src/sass/detail';
@import 'src/sass/sizes';

.background-white{
    background-color: #fff;
}

.stackable {
    display: block !important;
}

.i-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt-al-start {
    text-align: start;
}

.box-sh-none {
    box-shadow: none;
}

.sub-container {
    background-color: #efefef;
    border-radius: 10px;
    margin-bottom: 20px;
}

.inner {
    margin-bottom: 0px;
}

.separation {
    margin: 0 auto;
    width: 99%;
}

.fgc-gray-1 {
    color: #a6a6a6;
}

.fgc-gray-2 {
    color: #656565;
}

.table {
    width: calc(100% - 20px);
    margin: 10px;
}

th,
td {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

input[type='color'] {
    width: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    height: 30px;
}


.widthActions {
    width: max-content;
}

.btn-submit{
    background-color: #434343;
}