@import 'src/sass/list';

.alto{
    height: 50px;
}

.titleBody{
    width: 70%;
}

@media screen and (max-width: 697px) {
    .tabla-responsive {
        display: grid;
        overflow-x: auto;
    }
}