<block-ui>
    <div class="row center-lg center-md center-sm center-xs highligth vh-100 zero" style="min-width: 300px;">
        <div class="col-lg-8 col-md-9 col-sm-11 col-xs-12">
            <div class="vh-80 m-t-10 m-b-10 shadow br-15">
                <div class="row zero">
                    <!-- FORM SIDE -->
                    <div class="col vh-80 br-l-15 half-w">
                        <div class="zero vh-5"></div>
                        <!-- LOGO -->
                        <div class="row center-lg center-md center-sm center-xs zero">
                            <div class="col-lg-8 col-md-9 col-sm-11 col-xs-12 zero vh-10">
                                <img src="../../../assets/logo.svg" alt="CargoApp Logo" class="vh-10" />
                            </div>
                        </div>
                        <div class="zero vh-5"></div>
                        <div class="row center-lg center-md center-sm center-xs zero">
                            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-11 zero">
                                <div class="zero">
                                    <h2 class="zero vh-5 text-center">Completar Curso de Seguridad</h2>
                                    <form
                                        [formGroup]="safetyForm"
                                        (ngSubmit)="onSubmit()"
                                        class="m-t-5"
                                        novalidate
                                        autocomplete="off"
                                    >
                                        <div class="row zero inherit-w vh-5 mb-5">
                                            <mat-form-field appearance="legacy" class="inherit-w vh-2">
                                                <mat-label class="input-label vh-2">Número de identificación</mat-label>
                                                <input
                                                    matInput
                                                    type="number"
                                                    placeholder="Número de identificación"
                                                    formControlName="cc"
                                                />
                                                <mat-error *ngIf="f.cc.hasError('required')">
                                                    Campo obligatorio
                                                </mat-error>
                                                <mat-error *ngIf="f.cc.hasError('pattern')">
                                                    Número de identificación inválido.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <a
                                            mat-stroked-button
                                            class="mr-2"
                                            style="width: 40%; text-decoration: none;"
                                            [routerLink]="['/login']"
                                        >
                                            Cancelar
                                        </a>
                                        <button
                                            mat-flat-button
                                            color="primary"
                                            type="submit"
                                            class="ml-2"
                                            style="width: 40%; color: #fff;"
                                            [disabled]="loading"
                                        >
                                            {{ loading ? 'Buscando coincidencia...' : 'Consultar' }}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block-ui>
