@import 'src/sass/list';
@import 'src/sass/detail';
@import 'src/sass/variables';

.align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

h5 {
    font-size: 15px;
    margin-top: 12px;
}

thead th {
    padding: 10px 0;
}

thead th:first-child {
    border-radius: 10px 0 0 10px;
}
thead th:last-child {
    border-radius: 0 10px 10px 0;
}

/* remove border from th... */
/* !important is only required in stack snippet, probably not in your production code */

.table > thead > tr > th {
    border: none !important;
}

/* remove border from first tbody row... */
.table > tbody > tr:first-child > td,
.table > tbody > tr:first-child > th {
    border-top: none;
}
