<div class="col zero">
    <div class="row zero between-lg between-md between-sm between-xs">
        <h3 mat-dialog-title>Empresa</h3>
        <button mat-icon-button class="bc-transparent" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-divider style="margin-top: 10px; margin-bottom: 20px;"></mat-divider>
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" novalidate>
        <div mat-dialog-content class="max-h-80vh">
            <div class="row zero between-lg between-md between-sm between-xs">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
            </div>
        </div>
        <mat-divider style="margin-top: 10px; margin-bottom: 20px;"></mat-divider>
        <div class="row zero between-lg between-md between-sm between-xs full-width">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div mat-dialog-actions>
                    <div class="row zero between-lg between-md between-sm between-xs full-width">
                        <div>
                            <button
                                style="width: 170px;"
                                mat-flat-button
                                type="button"
                                class="btn-cancelar full-width"
                                (click)="onClose()"
                            >
                                <mat-icon color="white">close</mat-icon> Cancelar
                            </button>
                        </div>
                        <div>
                            <button
                                style="width: 170px;"
                                type="submit"
                                [disabled]="submit"
                                mat-flat-button
                                class="btn-submit full-width"
                            >
                                <mat-icon color="white">done</mat-icon>
                                {{ 'GENERAL_WORD.MANDATORY' | translate }}
                                <img
                                    src="../../../../../../assets/loading.gif"
                                    class="ml-1"
                                    *ngIf="submit"
                                    alt="Cargando"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
