form {
    position: relative;
}

h2 {
    text-align: left;
    font-size: 3vh;
    color: #4B4B4B;
}

.at-the-end {
    position: absolute;
    left: 0;
}

.blue {
    background-color: blue;
}

.box {
    background-color: black;
}

.error {
    color: red;
}

.highligth {
    background-color: #FFF;
}

.input-label {
    font-size: 2vh;
    line-height: 2vh;
    color: #545454;
}

.shadow {
    -webkit-box-shadow: 0px 5px 5px 5px rgba(188,188,188,0.5);
    -moz-box-shadow: 0px 5px 5px 5px rgba(188,188,188,0.5);
    box-shadow: 0px 5px 5px 5px rgba(188,188,188,0.5);
}