<div class="d-flex justify-content-center">
    <div class="not-found not-found-is-spaced">
        <div class="not-found-container">
            <img class="not-found-image" src="../../../assets/sadface.gif" />

            <div class="not-found-code">&#123; status: 404,<br />&nbsp;&nbsp;message: "Not Found" &#125;</div>
        </div>
        <p class="not-found-text">
            Oops! We can't seem to find the page you're trying to access. Go to the following link to return to the
            <a href="/home">Homepage</a>.
        </p>
    </div>
</div>
