<td>
    <h5>{{ tracking?.requestId ? tracking?.requestId : 'N/A' }}</h5>
</td>
<td>
    <h5>{{ tracking?.vehicle.type | translate | titlecase }}</h5>
</td>
<td>
    <h5>{{ tracking?.vehicle.plate | uppercase }}</h5>
</td>
<td>
    <div
        class="color-container"
        matTooltip="{{ tracking?.currentStage | titlecase }}"
        matTooltipPosition="after"
        [ngStyle]="{ 'background-color': getStageColor(tracking?.currentColor) }"
    ></div>
</td>
<td>
    <h5>{{ tracking?.yard.name | titlecase }}</h5>
</td>
<td>
    <h5>{{ tracking?.driver.name | titlecase }}</h5>
</td>
<td>
    <h5>
        <a [routerLink]="['/yards/operations']" fragmente="anchor">
            <mat-icon class="info" matTooltip="Ver flujo de control" matTooltipPosition="above">info</mat-icon>
        </a>
    </h5>
</td>

<!-- <div class="responsive">
    <div class="full-size line">
        <div class="row middle-lg middle-md middle-sm middle-xs data-container">
            <div class="col pt-3 pb-3">
                <div class="row center-lg center-md center-sm center-xs">
                    <h5>{{ tracking?.requestId ? tracking?.requestId : 'N/A' }}</h5>
                </div>
            </div>
            <div class="col pt-3 pb-3">
                <div class="row center-lg center-md center-sm center-xs">
                    <h5>{{ tracking?.vehicle.type | translate | titlecase }}</h5>
                </div>
            </div>
            <div class="col pt-3 pb-3">
                <div class="row center-lg center-md center-sm center-xs">
                    <h5>{{ tracking?.vehicle.plate | uppercase }}</h5>
                </div>
            </div>
            <div class="col inherit-size">
                <div
                    class="color-container"
                    matTooltip="{{ tracking?.currentStage | titlecase }}"
                    matTooltipPosition="after"
                    [ngStyle]="{ 'background-color': getStageColor(tracking?.currentColor) }"
                ></div>
            </div>
            <div class="col pt-3 pb-3">
                <div class="row center-lg center-md center-sm center-xs">
                    <h5>{{ tracking?.yard.name | titlecase }}</h5>
                </div>
            </div>
            <div class="col pt-3 pb-3">
                <div class="row center-lg center-md center-sm center-xs">
                    <h5>{{ tracking?.driver.name | titlecase }}</h5>
                </div>
            </div>
            <div class="col pt-3 pb-3">
                <div class="row center-lg center-md center-sm center-xs">
                    <a [routerLink]="['/yards/operations']" fragmente="anchor">
                        <mat-icon class="info" matTooltip="Ver flujo de control" matTooltipPosition="above"
                            >info</mat-icon
                        >
                    </a>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
 -->
