<div class="col zero">
    <div class="row">
        <div class="col">
            <h3 mat-dialog-title>{{ 'GENERAL_WORD.MASSIVE' | translate }}</h3>
        </div>
        <div class="col d-content">
            <button mat-icon-button class="bc-transparent" matTooltip="Descargar Archivo de Muestra"
                matTooltipPosition="above" (click)="onDownload()">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button class="bc-transparent" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <mat-divider class="mt-3 mb-3"></mat-divider>

    <div mat-dialog-content class="container-fluid">
        <form [formGroup]="uploadForm" (ngSubmit)="onUpload()" novalidate>
            <div class="row">
                <div class="col mt-1">
                    <button type="button" mat-flat-button class="bg-wo-gradient btn-block b-h p-1"
                        (click)="massiveFile.click()">
                        <mat-icon color="white">insert_drive_file</mat-icon>
                        <mat-divider vertical class="v-divider"></mat-divider> {{ 'GENERAL_WORD.UPLOAD' | translate }} *
                    </button>
                    <input hidden type="file" (change)="onFileSelected($event)" #massiveFile id="massiveFile"
                        formControlName="massiveFile" accept=".csv" />
                </div>
                <div class="col mt-2">
                    <button type="submit" mat-flat-button class="btn-submit btn-block p-1" [disabled]="isDisabled">
                        {{ 'GENERAL_WORD.LOAD' | translate }}
                    </button>
                </div>
            </div>
            <div class="row">
                <mat-error *ngIf="massiveFileHasLoaded" class="success">
                    Se ha cargado {{ massiveFileName }} correctamente
                </mat-error>
                <mat-error *ngIf="massiveFileHasLoaded === false" class="danger">
                    Ha ocurrido un problema al subir el archivo {{ massiveFileName }}
                </mat-error>
            </div>
        </form>
    </div>
</div>