<div class="container-fluid">
    <!-- <div class="row">
        <div class="col" *ngFor="let status of routesStatusList.items">
            <h4 class="cursor" [ngClass]="{ 'status-active': status.isActive }" (click)="toggleStatus(status.id)">
                {{ status.text }}
            </h4>
        </div>
    </div> -->

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="row subtitle mb-3">
                <div class="col">
                    <p class="title d-content">Camiones en ruta</p>
                </div>
                <div class="col-2">
                    <div class="outer-circle">
                        <div class="middle-circle">
                            <div class="front-circle text-center">
                                <span class="circle-text">{{ routesCount | number: '2.0' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-map-routes></app-map-routes>
        </div>
        <div class="col-md-6">
            <div class="row subtitle mb-3">
                <div class="col">
                    <p class="title d-content">Ultimos viajes asignados</p>
                </div>
            </div>
            <app-card-map></app-card-map>
        </div>
    </div>
</div>
