@import 'src/sass/list';

.heightButton{
    height: 50px;
}

.widthSubtitle{
    width: 90%;
}

@media screen and (max-width: 697px) {
    .tabla-responsive {
        display: grid;
        overflow-x: auto;
    }
}