<div class="col zero">
    <div class="row zero between-lg between-md between-sm between-xs">
        <h3 mat-dialog-title>Base Legal</h3>
        <button mat-icon-button class="bc-transparent" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="max-h-80vh">
        <div class="row mt-4 align-items-center">
            <div class="col-md-2">
                <h4>Resolución 1223 del 14 mayo 2014</h4>
            </div>
            <div class="col-md-7">
                <p>
                    <span class="font-weight-bold">ARTICULO 3.</span>
                    <span style="color: red;">
                        Curso básico obligatorio de capacitación para los conductores de vehículos que transportan
                        mercancías peligrosas en vehículos automotores de carga.</span
                    >
                    El conductor de un vehículo automotor de carga público o privado que transporte mercancías
                    peligrosas, además del cumplimiento de las normas vigentes para el transporte y tránsito terrestre
                    automotor de carga, debe realizar el curso básico obligatorio de capacitación para conductores que
                    transportan mercancías peligrosas y portar el certificado de asistencia al mismo, en el que se
                    certifique que se desempeñó satisfactoriamente en el contenido del
                </p>
                <p>
                    <span class="font-weight-bold">ARTICULO 6.</span> Condiciones del curso básico obligatorio de
                    capacitación para conductores que transporten mercancías peligrosas. La duración mínima del
                    <span style="color: red;">curso será de sesenta (60) horas</span> y se realizará de manera
                    presencial. El curso básico tendrá una <span style="color: red;">validez de dos (2) años</span>,
                    vencido este término el titular de la certificación deberá tomar un curso de actualización sobre los
                    mismos ejes temáticos con una
                    <span style="color: red;">duración de veinte (20) horas, el cual solo será válido por un año.</span>
                </p>
            </div>
            <div class="col-md-3">
                <img src="../../../../../../assets/legal-base/1.png" />
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-md-2">
                <h4>Resolución 5747 de 2016</h4>
            </div>
            <div class="col-md-7">
                <p>
                    <span class="font-weight-bold">ARTICULO 1.</span> Modificar el parágrafo 1 del artículo 3 de la
                    Resolución 1223 de 2014, modificado por la Resolución 2328 de 2016, el cual quedará así:<br />
                    Tarágirrh, 7<span style="color: red;">
                        Los conductores tendrán plazo hasta el 31 de diciembre de 2017 para obtener el certificado del
                        curso obligatorio de capacitación para conductores que transportan mercancías peligrosas</span
                    >, de que trata el artículo 3 de la Resolución 1223 de 2014.
                </p>
                <p>Replicar articulo 6 resolución 1223 14 de mayo 2014</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-md-2">
                <h4>Clase 8 NTC 1446</h4>
            </div>
            <div class="col-md-7">
                <p>
                    <span class="font-weight-bold">Diablo Rojo</span><br />Los corrosivos (Clase 8) son sustancias que,
                    por su acción química, causan lesiones graves a los tejidos vivos con los que entran en contacto.
                    Además, si se produce un escape pueden causar daños importantes a otras mercancías o al medio de
                    transporte pudiendo llegar incluso a destruirlos.
                </p>
            </div>
            <div class="col-md-3">
                <img src="../../../../../../assets/legal-base/2.jpg" />
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-md-2">
                <h4>Clase 3 NTC1446</h4>
            </div>
            <div class="col-md-7">
                <p>
                    Se consideran Mercancía Peligrosa de la Clase 3 Líquidos Inflamables, a las materias (y a los
                    objetos que contengan materias de esta clase), que:<br />
                    - sean líquidos según se define en el ADR;<br />
                    - tengan, a 50 °C, una tensión de vapor máxima de 300 kPa (3 bar) y no sean gaseosos a 20 ºC y
                    presión de 101,3 kPa;<br />y - tengan un punto de inflamación máximo de 60 °C.<br />
                    El título de la clase 3 incluirá igualmente las materias líquidas inflamables y las materias sólidas
                    en estado fundido cuyo punto de inflamación sea superior a 60 °C y que sean entregadas al transporte
                    o transportadas en caliente a una temperatura igual o superior a su punto de inflamación. Estas
                    materias se asignan al nº ONU 3256.<br />
                    El título de la clase 3 incluirá igualmente las materias líquidas explosivas desensibilizadas. Las
                    materias líquidas explosivas desensibilizadas son materias líquidas explosivas preparadas en
                    solución o en suspensión en agua o en otros líquidos de modo que formen una mezcla líquida homogénea
                    exenta de propiedades explosivas. Estos epígrafes se designan con los números ONU 1204, 2059, 3064,
                    3343, 3357 y 3379.
                </p>
            </div>
            <div class="col-md-3">
                <img src="../../../../../../assets/legal-base/3.png" />
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-md-2">
                <h4>Resolución 1572 del 03 de Mayo de 2019</h4>
            </div>
            <div class="col-md-7">
                <p>
                    Reglamentar la instalación y uso de cintas retrorreflectivas de carácter obligatorio o voluntario,
                    para la circulación de vehículos que transiten por las vías públicas o privadas que están abiertas
                    al público, o en las vías privadas, que internamente circulen vehículos.
                </p>
            </div>
            <div class="col-md-3">
                <img src="../../../../../../assets/legal-base/4.png" width="100%" />
            </div>
        </div>
    </div>
</div>
