@import 'src/sass/variables';

h3{
    margin: 0;
    margin-top: 4px;
    font-size: 30px;
    font-weight: bold;
    color: #434343
}



.btn-download{
    background-color: #434343;
    color: white;
}


.bg-wo-gradient{
    color: white;
    border-radius: 2px;
    background: linear-gradient(180deg, #FDD86D 0%, #FBAF3B 100%);
    margin-top: .25em;;
    margin-bottom: 1.59375em;;
}

.card{
    border-radius: 7px;
    height: 330px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(151,151,151,0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(151,151,151,0.1);
    box-shadow: 0px 0px 10px 5px rgba(151,151,151,0.1);
    background-color: #F7F8FC;

    .not-chart{
        height: 50%;

        .col{
            margin: 0 auto;

            h3{
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 45px;
                color: #545454;

                .icon-title{    
                    margin-top: 0;  
                    margin-bottom: 0; 
                    color: $orange;
                    font-size: 35px;
                    font-weight: bold; 
                }
    
                &.title{ 
                    margin-top: 0;  
                    margin-bottom: 0; 
                    font-size: 21px;
                    color: $orange;
                    font-weight: normal;
                }
            }

            h4{
                color: #545454;
                font-size: 18px;
                margin-bottom: 0;
            }
        }
    }

    .start{
        width: 248px;
    }
}

.card-doubled{
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(151,151,151,0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(151,151,151,0.1);
    box-shadow: 0px 0px 10px 5px rgba(151,151,151,0.1);
    background-color: #F7F8FC;
}

.col-container{
    background-color: #EFEFEF;
    border-radius: 10px;
    height: 60px;

    h5{
        font-size: 15px;
        letter-spacing: 0;
        color: #656565;
        font-weight: bold;
        margin: 0;
        margin-left: 5px;
        display: inline-block;
    }
}

.date-container{
    padding: 5px !important;
    color: #8A8A8A;
    cursor: pointer;

    h4{
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
    }

    .date-field{
        width: 120px;
    }

    .icon{
        margin-right: 5px;
        padding: 5px !important;

        &:hover{
            border-radius: 5px;
            background-color: #fbae3b60;
        }
    }   
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.thin-line{
    height: 1px;
    background-color: #EDEDED;
}