button.at-the-end {
    width: 50%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
}
